[1] https://scikit-learn.org/stable/modules/generated/sklearn.covariance.EllipticEnvelope.html#sklearn.covariance.EllipticEnvelope

In [32]:
import pandas as pd
from sklearn.covariance import EllipticEnvelope

In [33]:
df = pd.read_csv('bmw.csv')
df.head()

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,5 Series,2014,11200,Automatic,67068,Diesel,125,57.6,2.0
1,6 Series,2018,27000,Automatic,14827,Petrol,145,42.8,2.0
2,5 Series,2016,16000,Automatic,62794,Diesel,160,51.4,3.0
3,1 Series,2017,12750,Automatic,26676,Diesel,145,72.4,1.5
4,7 Series,2014,14500,Automatic,39554,Diesel,160,50.4,3.0

In [34]:
X = df[['mileage','price','tax','mpg','engineSize','year']]

In [36]:
model = EllipticEnvelope(random_state=0)
model.fit(X)

EllipticEnvelope(random_state=0)

In [37]:
preds = model.predict(X)
preds[0:10]

array([ 1,  1,  1,  1,  1,  1,  1,  1,  1, -1])

In [38]:
X_outliers = X[preds == -1]
X_valid = X[preds != -1]

print("Original Samples : ",X.shape[0])
print("Number of Outliers : ", X_outliers.shape[0])
print("Number of Normal Samples : ", X_valid.shape[0])

Original Samples :  10781
Number of Outliers :  1079
Number of Normal Samples :  9702

Its work well